.saidas {
  .filter {
    .form {
      margin: 0 auto;
      background-color: #5ba892;
      padding: 20px;
      width: 500px;

      label {
        font-weight: light;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
